services:
  # Ignition Gateway
  gateway:
    image: inductiveautomation/ignition:latest
    restart: unless-stopped
    ports:
      - 8088:8088
      - 8043:8043
      - 8060:8060
      - 62541:62541
    volumes:
      - gateway-data:/usr/local/bin/ignition/data
    environment:
      - ACCEPT_IGNITION_EULA=Y
      - GATEWAY_ADMIN_USERNAME=admin
      - GATEWAY_ADMIN_PASSWORD=password
    command: >
      -n ignition-docker -m 1024 -- wrapper.java.maxmemory=4096 wrapper.java.initmemory=512 -Dignition.allowunsignedmodules=true

volumes:
  gateway-data:
